span#course-numbers, span.course-date {
	display: block;
	font-size: 14px;
	font-weight: 300;
}

span#course-numbers {
	font-size: 14px;
	height: 35px;
}

span.course-date {
	height: 20px;
}

#number-star {
	padding-top: 80px;
}