/** List in schedule header **/

.two-col {
	width: 47%;
	display: inline-block;
	vertical-align: top;
}

.space {
	padding-right: 4%;	
}

/** sticky Monday and Wednesday **/

#days {
	width: 100%;
	height: 30px;

	span {
		width: 49%;
		text-align: center;
		display: inline-block;
		padding-top: 7px;
		padding-bottom: 5px;
		font-family: @body-font;
	}

	&.days-moving {
		max-width: 932px !important;
		background: #fff;
		opacity: 0.8;
	}

	&.stick-days {
		position: fixed;
		top: 53px;
	}
}

#days-placeholder {
	height: 30px;
	display: none;
}

/** Main schedule css **/

#sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
}

#schedule {
	padding: 15px 0 30px 0;

	.week {
		padding-bottom: 70px;
		border-top: 1px solid #cccccc;

		.day {
			height: auto;
			width: 50%;
			display: inline-block;
			vertical-align: top;

			&.full {
				width: 100%;
			}

			.date,  {
				padding-top: 18px;
				padding-bottom: 15px;
				text-align: center;
				border-bottom: 1px solid #ccc;

				h2 {
					text-transform: uppercase;
					font-family: @body-font;
					font-size: 16px;
					letter-spacing: 1.5px;
					font-weight: bold;	
				}

				&.right-border {
					border-right: 1px solid #ccc;
				}
			}

			.readings {
				padding: 0 30px;

				ul {
					font-family: @body-font;
					font-size: 10pt;
					line-height: 17pt;
					letter-spacing: .3px;
					color: #282828;
					list-style-type: disc;
					padding-left: 15px;
				}

				h4 {
					margin: 15px 0 5px 0;
					text-transform: uppercase;
					font-family: @body-font;
					font-size: 11px;
					letter-spacing: 1.5px;
					font-weight: bold;
				}

				p {
					margin: 25px 0 25px 0;
					font-family: @body-font;
					font-size: 16px;
					line-height: 26px;
					letter-spacing: 0.5px;
				}

				a {
					text-decoration: none;
					border-bottom: dotted 1px;
					color: @accent-color;	
				}

				.recommended {
					opacity: .4;
					transition: .7s all;

					&:hover {
						opacity: 1;	
						transition: .7s all;
					}
				}
			}
		}
	}
}

/** This week button **/

#today{
	visibility: hidden;
	position: fixed;
	top: 12px;
	z-index: 10000;
	right: 4em;

	#today-button {
		cursor: pointer;
		height: 34px;
		text-align: center;
		margin-bottom: 10px;
		width: auto;
		border-radius: 3px;

		&.onWeek {
			background-color: #f0f0f0;

			a {
				color: #888;
			}
		}

		&.offWeek {
			background-color: @accent-color;

			a {
				color: #fff;
			}
		}

		a {
			color: #888;
			padding: 10px 15px 0px 15px;
			font-size: 13px;
			display: block;
			letter-spacing: .75px;
			line-height: 15px;
			text-decoration: none;
			font-family: @body-font;
			border-bottom: 0px;
		}

		&:hover {
			background-color: @accent-color;

			a {
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: 1250px) {
	#today {
		width: 100%;
		left: 0;
		top: 56px;

		#today-button {
			border-radius: 0;
		}
	}
}

@media screen and (max-width: 868px) {
	#today {
		right: 2em;
		top: 12px;
		width: auto;

		#today-button {
			border-radius: .body-border;
		}
	}
}

@media screen and (max-width: 600px) {
	#today {
		width: 100%;
		left: 0;
		top: 56px;

		#today-button {
			border-radius: 0;
		}
	}
}