#office-hours {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	@font-family: @body-font;

	td, th {
		width: 16%;
		vertical-align: top;
		padding: 10px 15px;
		display: inline-block;
	}
}

.TA {
	vertical-align: top;
	width: 22.75%;
	display: inline-block;
	line-height: 0;
	margin-top: 23px;
	overflow: hidden;	
	background-color: #fff;	
	.body-border;

	img {
		width: 100%;
		height: auto;
	}

	p {
		font-size: 10pt;
		line-height: 20pt;	
		font-family: @body-font;
		padding-top: 15px;
		padding-bottom: 20px;
		padding-left: 10%;
	}

	strong {
		font-weight: 700;
		letter-spacing: 1.5px;	
		color: #104E8B;
		text-transform: uppercase;
		font-size: 9pt;
	}

	a {
		text-decoration: none;
		border-bottom: dotted 1px;
		color: #999;	
	}
}

#TA1 {
	margin-left: 1.5%;	
	margin-right: 2%;
}
#TA2 { margin-right: 2%; }
#TA3 { margin-right: 2%; }
#TA4 { margin-right: 1.5%; }

#instructor {
	padding-left: 0px;
	padding-bottom: 0px;

	img {
		display: inline-block;
	}

	p {
		font-family: @body-font;
		display: inline-block;
		font-size: 14pt;
		line-height: 19pt;
		vertical-align: top;
		padding-left: 5%;
		padding-top: 30px;	
		color: #999;
	}
}