/* Color */
@accent-color: #EE3B3B;
@body-text-color: #333333;

/* Type */
@h1-font: 'Roboto Slab', Helvetica, Arial, sans-serif;
@body-font: 'Roboto', Helvetica, Arial, sans-serif;
.body-border {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;	
}

/* Structure */
@max-width: 960px;
@LR-padding: 4%;
@LR-margin: 1.5%;